<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>login</title>
  <link rel="stylesheet" type="text/css" href="../../static/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="../../static/css/demo.css">
<!--必要样式-->
<link rel="stylesheet" type="text/css" href="../../static/css/component.css">
<!--[if IE]>
<script src="js/html5.js"></script>
<![endif]-->
</head>
<body>
    <div class="container demo-1">
      <div class="content">
        <div id="large-header" class="large-header" style="height: 613px;">
          <canvas id="demo-canvas" width="100%" height="100%"></canvas>
          <div class="logo_box">
            <h3>聚少别多, 最是离愁<br>别是一番滋味在心头</h3>
              <form action="/login" name="f" method="post">
                  {{ form.hidden_tag() }}
              <div class="input_outer">
                <span class="u_user"></span>
                  {{ form.username }}
{#                <input name="username" class="text" style="color: #FFFFFF !important" type="text" placeholder="请输入账户" required="required">#}
              </div>
              <div class="input_outer">
                <span class="us_uer"></span>
                  {{ form.password }}
{#                <input name="password" class="text" style="color: #FFFFFF !important; position:absolute; z-index:100;" value="" type="password" placeholder="请输入密码" required="required">#}
              </div>
              <div>
                  {% with messages = get_flashed_messages() %}
                      {% if messages %}
                          <ul class=flashes style="list-style-type: none">
                              {% for message in messages %}
                                  <li>{{ message }}</li>
                              {% endfor %}
                          </ul>
                      {% endif %}
                  {% endwith %}
              </div>
              <div class="mb2"><a style="padding:0px;color:#FFFFFF;" class="act-but submit" href="javascript:;">
                  {{ form.submit }}
{#                <input style="margin:0px; font-size:24px; color:white;" class="text" type="submit" value="登录">#}
              </a></div>
            </form>
          </div>
        </div>
      </div>
    </div><!-- /container -->
    <script src="../../static/js/TweenLite.min.js"></script>
    <script src="../../static/js/EasePack.min.js"></script>
    <script src="../../static/js/rAF.js"></script>
    <script src="../../static/js/demo-1.js"></script>
    <script>
      function login(){
        document.querySelector("form").submit();
      }
    </script>

</body>
</html>