<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--<link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
    <style>
        html{
            width:100%;
            min-height:100%;
            height:auto!important;
        }
        .page-footer{
            width:100%;
            height:64px;
            line-height:64px;
            text-align:center;
            background:#ececec;
            color:rgba(0, 0, 0, 0.65);
            padding:0px 50px;
            font-size:12px;
            position: fixed;
            bottom: 0px;
        }
    </style>
    <title>链接测试</title>
</head>
<body>
    <div id="app" style="margin-bottom:100px;"></div>
    <div class="page-footer">
        <span>当前用户: {{ current_user.name }}</span><br/>
        艰难困苦，玉汝于成
    </div>
</body>

<!--<script type="text/javascript" src="bundle.js"></script>-->
<!--<script src="../static/js/vendors.dll.js"></script>-->
<script type="text/javascript" src="../static/js/bundle.js"></script>
<script>

    window.onhashchange = function(){
        if(window.location.hash == "#/"){
            window.location.href = "#/home";
        }
    }

</script>
</html>